<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css"/>
        <link rel="icon" type="image/x-icon" href="/img/icon.jpg">
        <script src="/js/app.js"></script>
        <title>{{title}}</title>
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>This website is created by Salman. This is d=getting data from mapbox abd weather stack.</p>
            <img class="portrait" src="/img/profile-pic.jpeg"/>
        </div>
        {{>footer}}
    </body>
</html>